<div id="<%= dom_id report %>">
  <p>
    <strong>Name:</strong>
    <%= report.name %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= report.number %>
  </p>

  <p>
    <strong>user id:</strong>
    <%= report.user_id %>
  </p>

  <p>
    <strong>user id:</strong>
    <%= report.user.email %>
  </p>

</div>
